.pokedex .cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
}

.pokedex .search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pokedex .search input{
    width: 100%;
    max-width: 500px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}

.pokedex .search button{
    width: auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
}

.pokedex .genList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pokedex .genList button{
    width: auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
}
.pokedex .genList button:hover{
    background-color: #ff000062;
    color: #000;
}
.pokedex .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pokedex .tabList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pokedex .tabList button{
    width: auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
}

.loading{
    width: 100px;
    height: 100px;
    color:white;
    animation: loading 5s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 50px;
    background: black;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}