.sidebar{
    position: fixed;
    right: 0;
    width: 200px;
    height: 100vh;
    background: #ffffff8d;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    color: #000000;
    top:9%;
}
