.navbar{
    background-color: #000000;
    border-bottom: 1px solid #e3e3e3;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 102;
}
.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:fantasy;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navbar .logo:hover{
    scale: 1.1;
}
.navbar .logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar .navbuttons{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbuttons button{
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    border-radius: 5px;
    width: 130px;
}
.navbar .navbuttons button:hover{
    background-color: #4f4f4f;
}
.navbar .searchbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .searchbox input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 10px;
}

.navbar .searchbox .icon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
